body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: #84b775;
    padding: 10px;
    text-align: left;
}
#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
aside {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #333;
    color: white;
    transition: left 0.3s ease;
    padding-top: 20px;
}
aside.show {
    left: 0;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside ul li {
    padding: 10px;
}
aside ul li a {
    color: white;
    text-decoration: none;
}
#close-sidebar {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
main {
    padding: 20px;
    text-align: center;
}
#reserva-info {
    margin-top: 20px;
    padding: 10px;
    background: #f0f0f0;
    display: none;
}

#imagen-inferior {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1; /* Para que no interfiera con otros elementos */
}