/* General */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo-login {
    max-width: 200px;
    margin: 0 auto;
}

/* Formulario */
.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Evita que el contenido se pegue demasiado en pantallas pequeñas */
}

/* .login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

.login-form h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Botones */
.btn-primary {
    background-color: #84b775;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

/* Para pantallas grandes */
@media (min-width: 992px) {
    .login-section .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-login {
        max-width: 300px;
    }
}

/* Para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-login {
        max-width: 250px;
        margin-bottom: 20px;
    }
}

/* Para pantallas pequeñas */
@media (max-width: 480px) {
    .container{
        position: absolute;
        top: 50px;
    }

    .logo-login {
        max-width: 200px;
    }

    .login-form {
        padding: 50px;
        background-color: red;
    }
    .login-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 20px; /* Evita que el contenido se pegue demasiado en pantallas pequeñas */
    }
    
    /* Estilizar los inputs con solo línea inferior */
    .form-control {
        border: none;
        border-bottom: 1px solid #84b775; /* Línea inferior con color */
        border-radius: 0;
        padding: 10px;
        font-size: 16px;
        background: transparent;
        box-shadow: none; /* Evita sombras al hacer clic */
        transition: border-color 0.3s ease-in-out;
    }

    /* Cambiar color de la línea al hacer clic en el input */
    .form-control:focus {
        border-bottom: 1px solid #5a9c50; /* Color más oscuro al enfocarse */
        outline: none; /* Eliminar contorno azul por defecto */
        box-shadow: none;
    }

    /* Placeholder con efecto translúcido */
    .form-control::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}
