/* General */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo-login {
    max-width: 200px;
    margin: 0 auto;
}

/* Formulario */
.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Evita que el contenido se pegue demasiado en pantallas pequeñas */
    height: 100vh;
}

/* Asegurar que los inputs dentro de .login-form usen estos estilos */
.login-form .form-control {
    border: none;
    border-bottom: 1px solid #84b775;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out;
}

/* Foco */
.login-form .form-control:focus {
    border-bottom: 1px solid #5a9c50;
    outline: none;
    box-shadow: none;
}

/* Placeholder */
.login-form .form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

/* .login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

.login-form h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Botones */
.btn-primary {
    background-color: #84b775;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

/* Para pantallas grandes */
@media (min-width: 992px) {
    .login-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-login {
        max-width: 300px;
    }
    .login-form{
        width: 300px;
    }
}

/* Para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-login {
        max-width: 250px;
        margin-bottom: 20px;
    }
}

/* Para pantallas pequeñas */
@media (max-width: 480px) {
    .container{
        position: absolute;
        top: 50px;
    }
    .logo-login {
        max-width: 200px;
    }
    .login-form {
        padding: 50px;
    }
    .login-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 20px; /* Evita que el contenido se pegue demasiado en pantallas pequeñas */
    }
    .boton_iniciar_sesion{
        width: 50%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .boton_google{
        width: 70%;
        margin: auto;
        margin-top: 25px;
    }
    p a{
        color: #3d6e36;
        text-decoration: none;
    }
    .login-form .form-control {
    margin-bottom: 20px;
    }
  
}
